/* ----------General------------ */

@import 'normalize.css';
/* @import 'https://fonts.googleapis.com/css2?family=Open+Sans'; */
@import 'https://fonts.googleapis.com/css2?family=Fahkwang';

:root {
    --beige: #E7E0BF;
    --green: #8DB958;
    --dark_blue: #1D2439;
    --blue: #0DA3C4;
    --red: #CC344F;
    --yellow: #EDC140;
}

* {
    font-family: "Fahkwang", sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--dark_blue);
}

#wrapper {
    margin: 0 auto;
}

/* ----------Text------------ */

h1, h2 {
    text-shadow:
        -2px -2px 0 var(--beige),
        2px -2px 0 var(--beige),
        -2px 2px 0 var(--beige),
        2px 2px 0 var(--beige);
}

h1 {
    margin: 0;
    font-size: 48px;
    color: var(--dark_blue);
    opacity: .1;
    position: relative;
    left: 30px;
    bottom: 80px;
}

h1:nth-child(2) {
    left: 60px;
    bottom: 90px;
}

h2 {
    font-size: 48px;
    color: var(--beige);
}

h3 {
    font-size: 20px;
    color: var(--green);
    position: relative;
    left: 30px;
}

h4 {
    font-size: 12px;
    color: var(--beige);
    position: relative;
    left: 100px;
    margin: 2px;
}

.second-h4 {
    left: 180px;
    font-style: italic;
    color: var(--green);
}

/* ----------Containers and More------------ */

.copyright-container {
    position: relative;
    padding: 1rem;
    float: right;
    color: var(--beige);
    font-size: .75rem;
}

.svg {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.svg-container {
    padding: 20px;
    margin: -50px auto;
    max-width: 800px;
}

#text-container {
    max-width: 400px;
    display: block;
    margin: 0 auto;
    padding: 1rem;
    overflow: hidden;
}

.text-foreground {
    position: relative;
    z-index: 500;
}

.text-background {
    margin-bottom: -60px;
}

.btn {
    cursor: pointer;
    padding: 18px;
    border-radius: 500px;
    border: 4px solid black;
    margin: 0 15px 0 auto;
    text-decoration: none;
    color: black;
    font-weight: 700;
    display: flex;
}

.top-svg-container {
    margin: -50px auto;
}

#soundBtn {
    background-color: var(--red);
    justify-content: flex-end;
    background-image: url('../img/no-sound.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 7px;
}

.cursorPointer {
    cursor: pointer;
}

.btn:hover {
    opacity: .7;
}

.middle-svg-container {
    margin-top: -140px;
}

#rocketObj {
    max-width: 65px;
    float: left;
    position: relative;
    left: 20px;
    top: 18px;
    cursor: pointer;
}

.slideBottomRight {
    animation-name: slideBottomRight;
    -webkit-animation-name: slideBottomRight;

    animation-duration: 1.3s;
    -webkit-animation-duration: 1.3s;

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

    visibility: visible !important;
}

@keyframes slideBottomRight {
    0% {
        transform: translate(0%, 0%);
        opacity: 1;
    }

    50% {
        transform: translate(500%, 500%);
        opacity: 0;
    }

    75% {
        transform: translate(-500%, -500%);
        opacity: 0;
    }

    100% {
        transform: translate(0%, 0%);
        opacity: 1;
    }
}

@-webkit-keyframes slideBottomRight {
    0% {
        -webkit-transform: translate(0%, 0%);
        opacity: 1;
    }

    50% {
        -webkit-transform: translate(300%, 300%);
        opacity: 0;
    }

    75% {
        -webkit-transform: translate(-300%, -300%);
        opacity: 0;
    }

    100% {
        -webkit-transform: translate(0%, 0%);
        opacity: 1;
    }

}

@media only screen and (min-width: 600px) {

    #text-container {
        scale: 1.6;
        padding-left: 20px;
        padding-top: 60px;
    }

    #rocketObj {
        max-width: 100px;
        top: 55px;
    }

    #soundBtn {
        padding: 22px;
    }

}

@media only screen and (min-width: 768px) {
    #text-container {
        max-width: 800px;
        padding: 30px;
        scale: 1;
    }

    .text-background {
        margin-bottom: -200px;
    }

    h1, h2 {
        text-shadow:
            -3px -3px 0 var(--beige),
            3px -3px 0 var(--beige),
            -3px 3px 0 var(--beige),
            3px 3px 0 var(--beige);
    }

    h1 {
        font-size: 110px;
        left: 50px;
        bottom: 150px;
    }

    h1:nth-child(2) {
        left: 90px;
        bottom: 170px;
    }

    h2 {
        font-size: 96px;
    }

    h3 {
        font-size: 38px;
        left: 100px;
    }

    h4 {
        font-size: 20px;
        left: 330px;
    }

    .second-h4 {
        left: 450px;
    }

    #rocketObj {
        max-width: 140px;
        top: 55px;
    }

    #soundBtn {
        padding: 30px;
        margin-right: 50px;
        top: 50px;
    }

    .top-svg-container {
        margin: -120px auto;
    }
}

@media only screen and (min-width: 1280px) {
    #desktop-right-container {
        max-width: 48vw;
        float: right;
        padding-top: 100px;
    }

    #coldplayObj {
        max-width: 50vw;
    }

    .svg-container {
        max-width: 100%;
        padding: 10px;
        margin-top: 0;
    }

    #coldplayObj {
        margin: 0;
    }

}